<br><strong>{{model.name}}</strong>
<br><img src="{{model.image_url}}" />

<br>{{model.name}} in:

<ul>
  {{#each model.closets as |closet|}}
     <li>
     {{#link-to 'closets.closet' closet}}{{closet.name}}{{/link-to}}
   </li>
  {{/each}}
</ul>

{{outlet}}
