<strong>{{model.name}}</strong>

<<<<<<< HEAD
<br>Items in {{model.name}}:
=======

This is an individual closet page<br>
<label>Closet name:</label>
<p>{{model.name}}</p>
<p>Delete the closet</p>

<button id="delete" value={{model.id}} {{action "delete" model}}>Delete</button>
<!--

{{ link-to "Search" "closets.hid" model}} -->


Items:

<ul>
  {{#each model.items as |item|}}
  <li>
     {{ link-to item.name "items.item" item }}
  </li>
  {{/each}}
</ul>

{{outlet}}
