User Show Page:
<p><li>{{model.id}}</li>
<li>{{model.username}}</li>
<li>{{model.email}}</li>
</p>

Closets:
{{#each model.closets as |closet|}}
<li class="closet">
   {{link-to closet.name "closets.closet" closet}}
</li>
{{/each}}

{{outlet}}
