<h2>Dashboard</h2>

Closets:
{{#each model.closets as |closet|}}
  <li>{{closet.name}}</li>
{{/each}}

Items:
{{#each model.items as |item|}}
  <li>{{item.name}}</li>
{{/each}}

{{!-- <a href="#" {{action 'logout'}}>Logout</a> --}}

{{!-- Items:
<ul>
  {{#each model.items as |item|}}
  <li>
     {{ link-to item.name "items.item" item }}
  </li>
  {{/each}}
</ul>
{{outlet}} --}}
